<app-navbar></app-navbar>

<div class="board-wrapper">
    <div class="board-title">
        <div class="board-title-text">
            Board Name
        </div>
    </div>
    <div class="board-body">
        <div class="board-columns">
            <div class="board-column">
                <div class="board-column-title">
                    Ideas
                </div>
                <div class="board-column-tasks">
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="board-column-title">
                    Ideas
                </div>
                <div class="board-column-tasks">
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="board-column-title">
                    Ideas
                </div>
                <div class="board-column-tasks">
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                </div>
            </div>
            <div class="board-column">
                <div class="board-column-title">
                    Ideas
                </div>
                <div class="board-column-tasks">
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                    <div class="board-column-task">
                        Idea Get up
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>