<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://github.com/sranmanpreet/kanban" target="_blank">
            kanban
        </a>
    </div>
    <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Boards
        </a>

        <div class="navbar-dropdown">
            <a class="navbar-item" *ngFor="let board of editService.boards; index as boardIndex">
                <span (click)="loadBoard(boardIndex)">{{board.name}}</span>
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <div class="navbar-item">
            <input id="editMode" class="editModeToggle" type="checkbox" name="editMode" [(ngModel)]="editMode" class="switch is-small" (change)="toggleEditMode($event)">
            <label for="editMode">Edit</label>
        </div>
    </div>
</nav>