/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-tooltip/dist/css/bulma-tooltip.min.css";
@import "../node_modules/bulma-switch/dist/css/bulma-switch.sass";
@import 'main.scss';
// Global Styles
html,
body {
    height: 100%;
}

html {
    background-image: url("assets/background.png");
    background-size: cover;
    overflow-y: auto !important;
    font-size: 18px;
}


/* width */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: $primary;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
